<a href="https://colab.research.google.com/github/Mahi-Parate/Task_01_DataAnalytic/blob/main/telco_customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#load dataset
df = pd.read_csv(r"/content/sample_data/telco customer churn.csv")
print(df.head())

   CustomerID  Count        Country       State         City  Zip Code  \
0  3668-QPYBK      1  United States  California  Los Angeles     90003
1  9237-HQITU      1  United States  California  Los Angeles     90005
2  9305-CDSKC      1  United States  California  Los Angeles     90006
3  7892-POOKP      1  United States  California  Los Angeles     90010
4  0280-XJGEX      1  United States  California  Los Angeles     90015

                 Lat Long  Latitude  Longitude  Gender  ...        Contract  \
0  33.964131, -118.272783     33.96    -118.27    Male  ...  Month-to-month
1   34.059281, -118.30742     34.06    -118.31  Female  ...  Month-to-month
2  34.048013, -118.293953     34.05    -118.29  Female  ...  Month-to-month
3  34.062125, -118.315709     34.06    -118.32  Female  ...  Month-to-month
4  34.039224, -118.266293     34.04    -118.27    Male  ...  Month-to-month

  Paperless Billing             Payment Method  Monthly Charges Total Charges  \
0               Yes               Mailed check            53.85           108
1               Yes           Electronic check            70.70           152
2               Yes           Electronic check            99.65           821
3               Yes           Electronic check           104.80          3046
4               Yes  Bank transfer (automatic)           103.70          5036

  Churn Label Churn Value Churn Score  CLTV                   Churn Reason
0         Yes           1          86  3239   Competitor made better offer
1         Yes           1          67  2701                          Moved
2         Yes           1          86  5372                          Moved
3         Yes           1          84  5003                          Moved
4         Yes           1          89  5340  Competitor had better devices

[5 rows x 33 columns]

**1. Check missing values**

In [ ]:
print(df.isnull().sum())

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

**2 . Handle Missing Values**

In [ ]:
print(df['Churn Reason'].dtype)

string

In [ ]:
df['Churn Reason'] = df['Churn Reason'].astype("string")

In [ ]:
df['Churn Reason'] = df['Churn Reason'].fillna("No Active Churn")

In [ ]:
display(df.head(1879))

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.96,-118.27,Male,...,Month-to-month,Yes,Mailed check,53.85,108,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.06,-118.31,Female,...,Month-to-month,Yes,Electronic check,70.70,152,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.05,-118.29,Female,...,Month-to-month,Yes,Electronic check,99.65,821,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.06,-118.32,Female,...,Month-to-month,Yes,Electronic check,104.80,3046,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.04,-118.27,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036,Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,6388-TABGU,1,United States,California,Los Angeles,90011,"34.00709, -118.258681",34.01,-118.26,Male,...,One year,No,Bank transfer (automatic),56.15,3488,No,0,58,4529,No Active Churn
1875,9763-GRSKD,1,United States,California,Los Angeles,90012,"34.065875, -118.238728",34.07,-118.24,Male,...,Month-to-month,Yes,Mailed check,49.95,587,No,0,76,5764,No Active Churn
1876,7469-LKBCI,1,United States,California,Los Angeles,90013,"34.044639, -118.240413",34.04,-118.24,Male,...,Two year,No,Credit card (automatic),18.95,327,No,0,39,4726,No Active Churn
1877,8091-TTVAX,1,United States,California,Los Angeles,90014,"34.043144, -118.251977",34.04,-118.25,Male,...,One year,No,Credit card (automatic),100.35,5681,No,0,71,6432,No Active Churn
1878,5129-JLPIS,1,United States,California,Los Angeles,90016,"34.028331, -118.354338",34.03,-118.35,Male,...,Month-to-month,Yes,Electronic check,105.50,2686,No,0,75,5822,No Active Churn

**3. Remove duplicates**

In [ ]:
df = df.drop_duplicates()

**4. Standardize text values**

In [ ]:
df['Gender'] = df['Gender'].str.strip().str.lower().replace({'m':'Male','f':'Female'})

In [ ]:
print(df)

      CUSTOMERID  COUNT        COUNTRY       STATE          CITY  ZIP_CODE  \
0     3668-QPYBK      1  United States  California   Los Angeles     90003
1     9237-HQITU      1  United States  California   Los Angeles     90005
2     9305-CDSKC      1  United States  California   Los Angeles     90006
3     7892-POOKP      1  United States  California   Los Angeles     90010
4     0280-XJGEX      1  United States  California   Los Angeles     90015
...          ...    ...            ...         ...           ...       ...
7038  2569-WGERO      1  United States  California       Landers     92285
7039  6840-RESVB      1  United States  California      Adelanto     92301
7040  2234-XADUH      1  United States  California         Amboy     92304
7041  4801-JZAZL      1  United States  California  Angelus Oaks     92305
7042  3186-AJIEK      1  United States  California  Apple Valley     92308

                    LAT_LONG  LATITUDE  LONGITUDE  GENDER  ...  \
0     33.964131, -118.272783     33.96    -118.27    male  ...
1      34.059281, -118.30742     34.06    -118.31  female  ...
2     34.048013, -118.293953     34.05    -118.29  female  ...
3     34.062125, -118.315709     34.06    -118.32  female  ...
4     34.039224, -118.266293     34.04    -118.27    male  ...
...                      ...       ...        ...     ...  ...
7038  34.341737, -116.539416     34.34    -116.54  female  ...
7039  34.667815, -117.536183     34.67    -117.54    male  ...
7040  34.559882, -115.637164     34.56    -115.64  female  ...
7041     34.1678, -116.86433     34.17    -116.86  female  ...
7042  34.424926, -117.184503     34.42    -117.18    male  ...

            CONTRACT PAPERLESS_BILLING             PAYMENT_METHOD  \
0     Month-to-month               Yes               Mailed check
1     Month-to-month               Yes           Electronic check
2     Month-to-month               Yes           Electronic check
3     Month-to-month               Yes           Electronic check
4     Month-to-month               Yes  Bank transfer (automatic)
...              ...               ...                        ...
7038        Two year               Yes  Bank transfer (automatic)
7039        One year               Yes               Mailed check
7040        One year               Yes    Credit card (automatic)
7041  Month-to-month               Yes           Electronic check
7042        Two year               Yes  Bank transfer (automatic)

      MONTHLY_CHARGES TOTAL_CHARGES CHURN_LABEL CHURN_VALUE CHURN_SCORE  CLTV  \
0               53.85           108         Yes           1          86  3239
1               70.70           152         Yes           1          67  2701
2               99.65           821         Yes           1          86  5372
3              104.80          3046         Yes           1          84  5003
4              103.70          5036         Yes           1          89  5340
...               ...           ...         ...         ...         ...   ...
7038            21.15          1419          No           0          45  5306
7039            84.80          1991          No           0          59  2140
7040           103.20          7363          No           0          71  5560
7041            29.60           346          No           0          59  2793
7042           105.65          6845          No           0          38  5097

                       CHURN_REASON
0      Competitor made better offer
1                             Moved
2                             Moved
3                             Moved
4     Competitor had better devices
...                             ...
7038                No Active Churn
7039                No Active Churn
7040                No Active Churn
7041                No Active Churn
7042                No Active Churn

[7043 rows x 33 columns]

**5. Rename columns**

In [ ]:
df.columns = df.columns.str.strip().str.upper().str.replace(" ", "_")

In [ ]:
print(df)

      CUSTOMERID  COUNT        COUNTRY       STATE          CITY  ZIP_CODE  \
0     3668-QPYBK      1  United States  California   Los Angeles     90003
1     9237-HQITU      1  United States  California   Los Angeles     90005
2     9305-CDSKC      1  United States  California   Los Angeles     90006
3     7892-POOKP      1  United States  California   Los Angeles     90010
4     0280-XJGEX      1  United States  California   Los Angeles     90015
...          ...    ...            ...         ...           ...       ...
7038  2569-WGERO      1  United States  California       Landers     92285
7039  6840-RESVB      1  United States  California      Adelanto     92301
7040  2234-XADUH      1  United States  California         Amboy     92304
7041  4801-JZAZL      1  United States  California  Angelus Oaks     92305
7042  3186-AJIEK      1  United States  California  Apple Valley     92308

                    LAT_LONG  LATITUDE  LONGITUDE  GENDER  ...  \
0     33.964131, -118.272783     33.96    -118.27    male  ...
1      34.059281, -118.30742     34.06    -118.31  female  ...
2     34.048013, -118.293953     34.05    -118.29  female  ...
3     34.062125, -118.315709     34.06    -118.32  female  ...
4     34.039224, -118.266293     34.04    -118.27    male  ...
...                      ...       ...        ...     ...  ...
7038  34.341737, -116.539416     34.34    -116.54  female  ...
7039  34.667815, -117.536183     34.67    -117.54    male  ...
7040  34.559882, -115.637164     34.56    -115.64  female  ...
7041     34.1678, -116.86433     34.17    -116.86  female  ...
7042  34.424926, -117.184503     34.42    -117.18    male  ...

            CONTRACT PAPERLESS_BILLING             PAYMENT_METHOD  \
0     Month-to-month               Yes               Mailed check
1     Month-to-month               Yes           Electronic check
2     Month-to-month               Yes           Electronic check
3     Month-to-month               Yes           Electronic check
4     Month-to-month               Yes  Bank transfer (automatic)
...              ...               ...                        ...
7038        Two year               Yes  Bank transfer (automatic)
7039        One year               Yes               Mailed check
7040        One year               Yes    Credit card (automatic)
7041  Month-to-month               Yes           Electronic check
7042        Two year               Yes  Bank transfer (automatic)

      MONTHLY_CHARGES TOTAL_CHARGES CHURN_LABEL CHURN_VALUE CHURN_SCORE  CLTV  \
0               53.85           108         Yes           1          86  3239
1               70.70           152         Yes           1          67  2701
2               99.65           821         Yes           1          86  5372
3              104.80          3046         Yes           1          84  5003
4              103.70          5036         Yes           1          89  5340
...               ...           ...         ...         ...         ...   ...
7038            21.15          1419          No           0          45  5306
7039            84.80          1991          No           0          59  2140
7040           103.20          7363          No           0          71  5560
7041            29.60           346          No           0          59  2793
7042           105.65          6845          No           0          38  5097

                       CHURN_REASON
0      Competitor made better offer
1                             Moved
2                             Moved
3                             Moved
4     Competitor had better devices
...                             ...
7038                No Active Churn
7039                No Active Churn
7040                No Active Churn
7041                No Active Churn
7042                No Active Churn

[7043 rows x 33 columns]

# DATA PREPROCESSING

In [28]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

#1. Encode Categorical Variables
binary_cols = ['PARTNER','DEPENDENTS','PHONE_SERVICE','PAPERLESS_BILLING','CHURN_LABEL']
for col in binary_cols:
    df[col] = df[col].map({'Yes':1,'No':0})

# Encode gender
df['GENDER'] = df['GENDER'].map({'Male':1,'Female':0})

**2. Feature Engineering**

In [30]:
df['TENURE_YEARS'] = (df['TENURE_MONTHS'] / 12).round(1)

In [31]:
df['LONG_TERM_CONTRACT'] = df['CONTRACT_Two year'] if 'CONTRACT_Two year' in df.columns else 0

In [32]:
df['TOTAL_REVENUE'] = df['MONTHLY_CHARGES'] * df['TENURE_MONTHS']

**3.Scale Numerical Features**

In [34]:
for col in ['MONTHLY_CHARGES','TOTAL_CHARGES','CLTV','TENURE_MONTHS','TENURE_YEARS','TOTAL_REVENUE']:
    print(col, df[col].dtype, df[col].unique()[:10])  # show first 10 unique values

MONTHLY_CHARGES float64 [ 53.85  70.7   99.65 104.8  103.7   55.2   39.65  20.15  99.35  30.2 ]
TOTAL_CHARGES object ['108' '152' '821' '3046' '5036' '528' '40' '20' '4749' '30']
CLTV int64 [3239 2701 5372 5003 5340 5925 5433 4832 5789 2915]
TENURE_MONTHS int64 [ 2  8 28 49 10  1 47 17  5 34]
TENURE_YEARS float64 [0.2 0.7 2.3 4.1 0.8 0.1 3.9 1.4 0.4 2.8]
TOTAL_REVENUE float64 [ 107.7   141.4   797.2  2934.4  5081.3   552.     39.65   20.15 4669.45
   30.2 ]

In [35]:
for col in ['MONTHLY_CHARGES','TOTAL_CHARGES','CLTV','TENURE_MONTHS','TENURE_YEARS','TOTAL_REVENUE']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [36]:
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [37]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

**4. Prepare Target Variable**

In [38]:
df['CHURN'] = df['CHURN_VALUE'].astype(int)

**5.Drop redundant churn columns**

In [40]:
df = df.drop(columns=['CHURN_LABEL','CHURN_VALUE','CHURN_SCORE'])

In [41]:
print(df.head())

   CUSTOMERID  COUNT        COUNTRY       STATE         CITY  ZIP_CODE  \
0  3668-QPYBK      1  United States  California  Los Angeles     90003
1  9237-HQITU      1  United States  California  Los Angeles     90005
2  9305-CDSKC      1  United States  California  Los Angeles     90006
3  7892-POOKP      1  United States  California  Los Angeles     90010
4  0280-XJGEX      1  United States  California  Los Angeles     90015

                 LAT_LONG  LATITUDE  LONGITUDE  GENDER  ...  \
0  33.964131, -118.272783     33.96    -118.27     NaN  ...
1   34.059281, -118.30742     34.06    -118.31     NaN  ...
2  34.048013, -118.293953     34.05    -118.29     NaN  ...
3  34.062125, -118.315709     34.06    -118.32     NaN  ...
4  34.039224, -118.266293     34.04    -118.27     NaN  ...

  CHURN_REASON_No Active Churn  CHURN_REASON_Poor expertise of online support  \
0                        False                                          False
1                        False                                          False
2                        False                                          False
3                        False                                          False
4                        False                                          False

   CHURN_REASON_Poor expertise of phone support  CHURN_REASON_Price too high  \
0                                         False                        False
1                                         False                        False
2                                         False                        False
3                                         False                        False
4                                         False                        False

   CHURN_REASON_Product dissatisfaction  CHURN_REASON_Service dissatisfaction  \
0                                 False                                 False
1                                 False                                 False
2                                 False                                 False
3                                 False                                 False
4                                 False                                 False

   TENURE_YEARS  LONG_TERM_CONTRACT  TOTAL_REVENUE  CHURN
0     -1.221294               False      -0.959071      1
1     -1.221294               False      -0.944189      1
2     -0.976837               False      -0.654598      1
3     -0.194573               False       0.289158      1
4      0.685473               False       1.237197      1

[5 rows x 64 columns]

In [42]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 64 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   CUSTOMERID                                              7043 non-null   object
 1   COUNT                                                   7043 non-null   int64
 2   COUNTRY                                                 7043 non-null   object
 3   STATE                                                   7043 non-null   object
 4   CITY                                                    7043 non-null   object
 5   ZIP_CODE                                                7043 non-null   int64
 6   LAT_LONG                                                7043 non-null   object
 7   LATITUDE                                                7043 non-null   float64
 8   LONGITUDE                                               7043 non-null   float64
 9   GENDER                                                  0 non-null      float64
 10  SENIOR_CITIZEN                                          7043 non-null   object
 11  PARTNER                                                 0 non-null      float64
 12  DEPENDENTS                                              0 non-null      float64
 13  TENURE_MONTHS                                           7043 non-null   float64
 14  PHONE_SERVICE                                           0 non-null      float64
 15  PAPERLESS_BILLING                                       0 non-null      float64
 16  MONTHLY_CHARGES                                         7043 non-null   float64
 17  TOTAL_CHARGES                                           7043 non-null   float64
 18  CLTV                                                    7043 non-null   float64
 19  MULTIPLE_LINES_No phone service                         7043 non-null   bool
 20  MULTIPLE_LINES_Yes                                      7043 non-null   bool
 21  INTERNET_SERVICE_Fiber optic                            7043 non-null   bool
 22  INTERNET_SERVICE_No                                     7043 non-null   bool
 23  ONLINE_SECURITY_No internet service                     7043 non-null   bool
 24  ONLINE_SECURITY_Yes                                     7043 non-null   bool
 25  ONLINE_BACKUP_No internet service                       7043 non-null   bool
 26  ONLINE_BACKUP_Yes                                       7043 non-null   bool
 27  DEVICE_PROTECTION_No internet service                   7043 non-null   bool
 28  DEVICE_PROTECTION_Yes                                   7043 non-null   bool
 29  TECH_SUPPORT_No internet service                        7043 non-null   bool
 30  TECH_SUPPORT_Yes                                        7043 non-null   bool
 31  STREAMING_TV_No internet service                        7043 non-null   bool
 32  STREAMING_TV_Yes                                        7043 non-null   bool
 33  STREAMING_MOVIES_No internet service                    7043 non-null   bool
 34  STREAMING_MOVIES_Yes                                    7043 non-null   bool
 35  CONTRACT_One year                                       7043 non-null   bool
 36  CONTRACT_Two year                                       7043 non-null   bool
 37  PAYMENT_METHOD_Credit card (automatic)                  7043 non-null   bool
 38  PAYMENT_METHOD_Electronic check                         7043 non-null   bool
 39  PAYMENT_METHOD_Mailed check                             7043 non-null   bool
 40  CHURN_REASON_Attitude of support person                 7043 non-null   boolean
 41  CHURN_REASON_Competitor had better devices              7043 non-null   boolean
 42  CHURN_REASON_Competitor made better offer               7043 non-null   boolean
 43  CHURN_REASON_Competitor offered higher download speeds  7043 non-null   boolean
 44  CHURN_REASON_Competitor offered more data               7043 non-null   boolean
 45  CHURN_REASON_Deceased                                   7043 non-null   boolean
 46  CHURN_REASON_Don't know                                 7043 non-null   boolean
 47  CHURN_REASON_Extra data charges                         7043 non-null   boolean
 48  CHURN_REASON_Lack of affordable download/upload speed   7043 non-null   boolean
 49  CHURN_REASON_Lack of self-service on Website            7043 non-null   boolean
 50  CHURN_REASON_Limited range of services                  7043 non-null   boolean
 51  CHURN_REASON_Long distance charges                      7043 non-null   boolean
 52  CHURN_REASON_Moved                                      7043 non-null   boolean
 53  CHURN_REASON_Network reliability                        7043 non-null   boolean
 54  CHURN_REASON_No Active Churn                            7043 non-null   boolean
 55  CHURN_REASON_Poor expertise of online support           7043 non-null   boolean
 56  CHURN_REASON_Poor expertise of phone support            7043 non-null   boolean
 57  CHURN_REASON_Price too high                             7043 non-null   boolean
 58  CHURN_REASON_Product dissatisfaction                    7043 non-null   boolean
 59  CHURN_REASON_Service dissatisfaction                    7043 non-null   boolean
 60  TENURE_YEARS                                            7043 non-null   float64
 61  LONG_TERM_CONTRACT                                      7043 non-null   bool
 62  TOTAL_REVENUE                                           7043 non-null   float64
 63  CHURN                                                   7043 non-null   int64
dtypes: bool(22), boolean(20), float64(13), int64(3), object(6)
memory usage: 1.6+ MB
None